@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
.onTopOfEverything {
	z-index: 1250;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.progressSVG {
	--side: min(50vw, 50vh);
	height: var(--side);
	width: var(--side);
	/* border: 1px solid red; */
}

.progressCircles {
	fill: none;
	stroke-width: 5px;
	stroke-linecap: square;
}

.progressBarBG {
	stroke: #4e4e4e;
}

.progressBarValue {
	stroke-dasharray: 314px;
	stroke-dashoffset: 314px;
	animation: progressAnimation var(--animationTime) linear forwards;
	animation-delay: var(--animationDelay);
}

@keyframes progressAnimation {
	100% {
		stroke-dashoffset: 67px;
	}
}
